.space-grotesk- {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  --blur:10px;
}
:root {
  --fontcolor: #FFFFFF;
  --backgroundcolor: #010233;
  --bgchild: #000125;
  --navcolor: #000119;
}
*{
  margin:0;
  padding:0;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  color:var(--fontcolor);
}
 .navigation{
   width:100%;
   background-color: var(--navcolor);
   height:8.5vh;
   display:flex;
   justify-content:space-between;
   align-items: center;
   position:sticky;
   top:0;
 }
 .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width:200px;
  background-color: var(--navcolor);
}
.left{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
  text-align:center;
}
.right{
  height:100%;
  background-color: var(--navcolor);
}
.right ul{
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items: center;
   background-color: var(--navcolor);
 }
.right ul li {
  list-style: none;
  padding:2px 5px;
  background-color: var(--navcolor);
}
.left a{
  text-decoration: none;
  font-size:1.4rem;
}
.navigation ul li a{
  text-decoration: none;
  background-color:white ;
  font-size:1rem;
  background-color: var(--navcolor);
  
}
.head{
  margin:1em;
  padding:1em;
  font-size:0.6rem;
  font-weight: bold;
  color:black;
  border:none;
  border-radius: 15px;
}
body{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  gap:20px;
  background-color:var(--backgroundcolor);
}
canvas{
  border:2px solid grey;
  background-color: #FFFFFF; /* Canvas background set to white */
}
.controls {
  margin-top: 10px;
}
button {
  background-color:var(--bgchild);
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border:none;
  border-radius: 15px;
}
