.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.orbitron- {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

:root {
  --fontcolor: #FFFFFF;
  --backgroundcolor: #010233;
  --bgchild: rgba(184, 184, 184, 0.17);
  --navcolor: #000119;
  --blur:205px;
}

* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  color: var(--fontcolor);
}

body {
  background-image: url('image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
  z-index: -1;
  min-height:100dvh;
}
.navigation {
  width: 100%;
  background-color: var(--navcolor);
  height: 8.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 200px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.right {
  height: 100%;
}

.right ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
}

.right ul li {
  list-style: none;
  padding: 2px 5px;
  border: none;
  box-shadow: none;
}

.left a {
  text-decoration: none;
  font-size: 1.4rem;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1rem;
  border: none;
  box-shadow: none;
}


.parent {
  margin: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  border-radius: 10px;
  background-color: var(--bgchild);
  max-width: 300px;
  backdrop-filter: blur(--blur);
  -webkit-backdrop-filter: blur(--blur);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

.spans span {
  border: 0.1px solid grey;
  border-radius: 3px;
  margin: 2px;
  padding: 2px;
  background-color: var(--bgchild);
  backdrop-filter: blur(--blur);
  -webkit-backdrop-filter: blur(--blur);
  color: var(--fontcolor);
  font-size: 0.2rem;
}

p {
  color: var(--fontcolor);
}

.spans {
  padding: 2px 2px 2px 2px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button button {
  border: none;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  margin-top: 1rem;
  background-color: var(--bgchild);
  backdrop-filter: blur(--blur);
  -webkit-backdrop-filter: blur(--blur);
  color: var(--fontcolor);
  border: 0.1px solid grey;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.introcontainer {
  background-color: var(--bgchild);
  backdrop-filter: blur(--blur);
  -webkit-backdrop-filter: blur(--blur);
  border: none;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 2.5rem;
  align-items: center;
  height: 60dvh;
  width: 75dvw;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  border-radius: 10px;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.intro {
  width: 100%;
  
  
}

.intro.head {
  color: var(--fontcolor);
  font-size: 1.5rem;
}

.intro.para {
  font-size: 1.3rem;
  color: var(--fontcolor);
}

.intro.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-left;
  justify-content: space-evenly;
  gap: 10px;
  
}

.soli {
  background-color: var(--bgchild);
  color: var(--fontcolor);
}

.soli {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  text-decoration: none;
}

.soli img {
  width: 27px;
  height: 27px;
  object-fit: contain;
  vertical-align: middle;
}

@keyframes slide-right {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {}

.ths {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
}

.bhs {
  width: 100%;
  display: flex;
}

.lhs {
  height: 91dvh;
  width: 15%;
  background-color: var(--bgchild);
  backdrop-filter: blur(--blur);
  -webkit-backdrop-filter: blur(--blur);
  position: fixed;
  top: 8.5vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rhs {
  margin-left:15%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20rem;
}

.browser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}